#home {
  background-color: $b-green;
  color: $b-dark-blue;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    font-size: 35px;
    line-height: 42px;
    margin: 0;
    font-weight: lighter;
    letter-spacing: 0.035em;
    @media (max-width: 360px) {
      font-size: 28px;
      line-height: 32px;
    }
  }
  a {
    font-size: 35px;
    line-height: 42px;
    margin: 0;
    color: $b-dark-blue;
    text-decoration: none;
    letter-spacing: 0.035em;
    background-image: linear-gradient(rgb(0,0,255), rgb(0,0,255));
    background-repeat: repeat-x;
    background-size: 100% 100%;
    background-position: 0 37px;
    @media (max-width: 360px) {
      font-size: 28px;
      line-height: 32px;
      background-position: 0 30px;
    }
  }
  a.phone {
    @media (min-width: 1440px) {
      background-image: none;
    }
  }
}
.underlined {
  background-image: linear-gradient(rgb(0,0,255), rgb(0,0,255));
  background-repeat: repeat-x;
  background-size: 100% 100%;
  background-position: 0 37px;
}
